#labelText {
    float: left;
}

#greeting {
    float: left;
}


.body {
    margin: 0px 0px 0px 0px;
}


.holder {
    height: 100px;
    width: 200px;
    background: red;
}

#labelText:read-only {
    float: left;
}

#errorLabel {
    display: none;